#demo-positioned-button{
    min-width: 31px;
    height: 1px;
    padding: 2px ;
    margin-right: 10px;
    background-color: white;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        min-width: 32px;
        height: 1px;
        padding: 1.5px;
        top: 8px;
        background-color: white;
        border-radius: 10px;
    }   
    &::before{
        content: "";
        position: absolute;
        min-width: 25px;
        height: 1px;
        padding: 1.5px;
        top: -8px;
        background-color: white;
        border-radius: 10px;
    }
}
.MuiSelect-icon{
    color: white !important;
}
